body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:#333333;
  color: cyan;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* color: cyan; */
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color:cyan;
  text-decoration: none;
}

section {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#home,
#services,
#resume,
#contact {
  border-bottom: 1px solid #ccc;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

span{
    background-color:#333333;
    color: cyan;
    padding: 10px 0;
    height:200px
    width:300px
}